In [7]:
# Building Module

In [9]:
import pandas as pd

In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
import edhec_risk_kit as erk

returns = erk.get_ffme_returns()

In [29]:
returns.head()

         SmallCap  LargeCap
1926-07   -0.0145    0.0329
1926-08    0.0512    0.0370
1926-09    0.0093    0.0067
1926-10   -0.0484   -0.0243
1926-11   -0.0078    0.0270

In [30]:
erk.drawdown(returns["SmallCap"])["Drawdown"].min()

-0.8330007793945303

In [32]:
erk.drawdown(returns["1975":]["SmallCap"])["Drawdown"].min()

-0.6312068077252386